// ?xml version="1.0" encoding="UTF-8"?
svg(width='10px', height='20px', viewBox='0 0 10 20', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
  g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
    g(transform='translate(-1294.000000, -75.000000)', fill='#FF5200')
      g(transform='translate(122.000000, 50.000000)')
        g(transform='translate(1038.000000, 15.000000)')
          path#icon-fb(d='M140.437383,29.9999742 L140.437383,20.9261677 L143.351457,20.9261677 L143.787877,17.3897806 L140.437383,17.3897806 L140.437383,15.1321032 C140.437383,14.1083613 140.709235,13.4105548 142.114049,13.4105548 L143.905901,13.4097806 L143.905901,10.2466839 C143.595901,10.2038452 142.532321,10.1075871 141.295037,10.1075871 C138.711827,10.1075871 136.943309,11.755329 136.943309,14.7820387 L136.943309,17.3897806 L134.021704,17.3897806 L134.021704,20.9261677 L136.943309,20.9261677 L136.943309,29.9999742 L140.437383,29.9999742 Z')
