// ?xml version="1.0" encoding="UTF-8"?
svg(width='9px', height='9px', viewBox='0 0 9 9', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
  g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
    g(transform='translate(-235.000000, -16.000000)', fill='#FF5200')
      g
        polygon(points='244.000032 19.6562629 244.000032 21.3437688 240.343769 21.3437688 240.343769 25.0000317 238.675013 25.0000317 238.675013 21.3437688 235 21.3437688 235 19.6562629 238.675013 19.6562629 238.675013 16 240.343769 16 240.343769 19.6562629')
